{% extends 'base.html' %}

{% block content %}
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}
    
    <br/><br/>
    {{ form.email.label_tag }}
    {{ form.email }}
    {{ form.email.errors }}
    <br/><br/>
    {{ form.password1.label_tag }}
    {{ form.password1 }}
    {{ form.password1.errors }}
    <br/><br/>
    {{ form.password2.label_tag }}
    {{ form.password2 }}
    {{ form.password2.errors }}
    <br/><br/>
    <button type="submit">Register</button>
    </form>
{% endblock %}
