{% extends 'base.html' %}

{% block content %}

  <h2>Staff Login</h2>
  <h2>Welcome, {{ auser.username }}!</h2>
  <p>Here are the existing customers and their service requests:</p>

  <table border="2" style="width:50%;">
    <thead>
      <tr>
        <th>Customer Username</th>
        <th>Request Type</th>
        <th>Status</th>
        <th>Request Date</th>
      </tr>
    </thead>
    <tbody>
      {% for service_request in service_requests %}
      <tr>
        <td>{{ service_request.customer.username }}</td>
        <td>{{ service_request.request_type }}</td>
        <td>{{ service_request.request_status }}</td>
        <td>{{ service_request.requested_on }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No service requests available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
